@model DEMO_PuellaSchoolAPP.Models.ScheduleModel

@{
    ViewData["Title"] = "Borrar Registro Horario";
}

<div style="text-align: center;">
    <h1>Eliminar credenciales</h1>
    <h3>¿Está seguro que desea eliminar?</h3>

    <div style="margin: 0 auto; width: fit-content;">
        <table style="text-align: justify; border-collapse: separate; border-spacing: 0 8px;">
            <tbody>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.IdSchedule)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.IdSchedule)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.ScheduleInfo)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.ScheduleInfo)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.ScheduleCreation)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.ScheduleCreation)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.ScheduleDay)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.ScheduleDay)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.ScheduleStart)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.ScheduleStart)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.ScheduleEnd)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.ScheduleEnd)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.ScheduleExpiration)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.ScheduleExpiration)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.SubjectId)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.SubjectId)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.TeacherId)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.TeacherId)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.ClassId)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.ClassId)
                    </td>
                </tr>
            </tbody>
        </table>

        <form asp-action="Delete">
            <input asp-for="IdSchedule" type="hidden" class="form-control" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
        </form>
    </div>
</div>