@model IEnumerable<DEMO_PuellaSchoolAPP.Models.ClassModel>

@{
	ViewData["Title"] = "Clases";
}

<h1 style="text-align:center">Listado de Clases</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="row d-flex">
				<div class="col-6">
					<div class="mb-3 mb-3">
						<a asp-action="Create" asp-controller="Class" class="btn btn-success">
							Nuevo Horario
						</a>
					</div>
				</div>
			</div>

			@if (TempData["message"] != null)
			{
				<div class="alert alert-primary" role="alert">
					@TempData["message"]
				</div>
			}

			<table class="table table-bordered table-striped table-responsive" id="classTable">
				<thead>
					<tr>
						<td>ID</td>
						<td>Información</td>
						<td>Grado</td>
						<td>Sección</td>
						<td>Acciones</td>
					</tr>
				</thead>
				<tbody>
					@foreach (var classs in Model)
					{
						<tr>
							<td>@Html.DisplayFor(item => classs.ClassId)</td>
							<td>@Html.DisplayFor(item => classs.ClassInfo)</td>
							<td>@classs.Grade?.GradeName</td>
							<td>@classs.Section?.SectionName</td>
							<td>
								<a asp-controller="Class" asp-action="ListClassroom" asp-route-id="@classs.ClassId" class="btn btn-primary">
									<i class="fa fa-pencil-alt"></i>
								</a>
							</td>
							<td>
								<a asp-controller="Class" asp-action="Edit" asp-route-id="@classs.ClassId" class="btn btn-primary">
									<i class="fa fa-pencil-alt"></i>
								</a>
								<a asp-controller="Class" asp-action="Delete" asp-route-id="@classs.ClassId" class="btn btn-danger">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$("#classTable").DataTable({
				dom: 'Bfrtip',
				buttons: [
					{
						extend: 'csv',
						exportOptions: {
							columns: ':not(:last-child)'
						}
					},
					{
						extend: 'pdf',
						exportOptions: {
							columns: ':not(:last-child)'
						}
					},
					{
						extend: 'excel',
						exportOptions: {
							columns: ':not(:last-child)'
						}
					}
				],
				columnDefs: [
					{
						targets: 3,
						orderable: false,
						searchable: false
					}
				],
				language: {
					url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
				}
			});
		});
	</script>
}
