@model IEnumerable<DEMO_PuellaSchoolAPP.Models.TeacherModel>

@{
	ViewData["Title"] = "Profesores";
}

<h1 style="text-align:center">Listado de Profesores</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="row d-flex">
				<div class="col-6">
					<div class="mb-3 mb-3">
						<a asp-action="Create" asp-controller="Teacher" class="btn btn-success">
							Nuevo Profesor
						</a>
					</div>
				</div>
				
			</div>

			@if (TempData["message"] != null)
			{
				<div class="alert alert-primary" role="alert">
					@TempData["message"]
				</div>
			}

			<table class="table table-bordered table-striped" id="teacherTable">
				<thead>
					<tr>
						<td>ID</td>
						<td>Nombre</td>
						<td>Apellidos</td>
						<td>Edad</td>
						<td>Sexo</td>
						<td>Teléfono</td>
						<td>Correo Electrónico</td>
						<td>Acciones</td>
					</tr>
				</thead>
				<tbody>
					@foreach (var teacher in Model)
					{
						<tr>
							<td>@Html.DisplayFor(item => teacher.TeacherId)</td>
							<td>@Html.DisplayFor(item => teacher.TeacherName)</td>
							<td>@Html.DisplayFor(item => teacher.TeacherLastName)</td>
							<td>@Html.DisplayFor(item => teacher.TeacherAge)</td>
							<td>@Html.DisplayFor(item => teacher.TeacherGender)</td>
							<td>@Html.DisplayFor(item => teacher.TeacherPhone)</td>
							<td>@Html.DisplayFor(item => teacher.TeacherEmail)</td>
							
							<td>
								<a asp-controller="Teacher" asp-action="Edit" asp-route-id="@teacher.TeacherId" class="btn btn-primary">
									<i class="fa fa-pencil-alt"></i>
								</a>
								<a asp-controller="Teacher" asp-action="Delete" asp-route-id="@teacher.TeacherId" class="btn btn-danger">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$("#teacherTable").DataTable({
				dom: 'Bfrtip',
				buttons: [
					{
						extend: 'csv',
						exportOptions: {
							columns: ':not(:last-child)'
						}
					},
					{
						extend: 'pdf',
						exportOptions: {
							columns: ':not(:last-child)'
						}
					},
					{
						extend: 'excel',
						exportOptions: {
							columns: ':not(:last-child)'
						}
					}
				],
				columnDefs: [
					{
						targets: 7,
						orderable: false,
						searchable: false
					}
				],
				language: {
					url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
				}
			});
		});
	</script>
}
