@model IEnumerable<DEMO_PuellaSchoolAPP.Models.ClassroomModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Aulas</h1>

<p>
    <a asp-action="Create" asp-controller="Classroom" class="btn btn-success">
        Agregar registro
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Clase N°
            </th>
            <th>
                Estudiante
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
            <td>
                @item.Students?.StudentName @item.Students?.StudentLastName
            </td>
            <td>
                 <a class="btn btn-info mx-2" asp-action="Edit" asp-route-id="@item.ClassroomId">Editar</a>
                 <a class="btn btn-danger mx-2" asp-action="Delete" asp-route-id="@item.ClassroomId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
